<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Train</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      .gradient-custom-3 {
        background: #84fab0;
        background: -webkit-linear-gradient(
          to right,
          rgba(132, 250, 176, 0.5),
          rgba(143, 211, 244, 0.5)
        );
        background: linear-gradient(
          to right,
          rgba(132, 250, 176, 0.5),
          rgba(143, 211, 244, 0.5)
        );
      }
      .gradient-custom-4 {
        background: #84fab0;
        background: -webkit-linear-gradient(
          to right,
          rgba(132, 250, 176, 1),
          rgba(143, 211, 244, 1)
        );
        background: linear-gradient(
          to right,
          rgba(132, 250, 176, 1),
          rgba(143, 211, 244, 1)
        );
      }
    </style>
  </head>
  <body>
    <section
      class="bg-image"
      style="
        background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
        height: 100vh;
      "
    >
      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center mb-5">Create Train</h2>
                  <form id="createTrainForm">
                    <div class="form-group">
                      <label for="trainName">Train Name:</label>
                      <input type="text" class="form-control" id="trainName" required />
                    </div>
                    <div class="form-group">
                      <label for="trainId">Train ID:</label>
                      <input type="text" class="form-control" id="trainId" required />
                    </div>
                    <div class="form-group">
                      <label for="from">From:</label>
                      <div class="dropdown">
                        <button
                          class="btn btn-secondary dropdown-toggle"
                          type="button"
                          id="fromDropdown"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          Select Station
                        </button>
                        <div class="dropdown-menu" aria-labelledby="fromDropdown">
                          <a class="dropdown-item fromStation" href="#">Chennai</a>
                          <a class="dropdown-item fromStation" href="#">Bangalore</a>
                          <a class="dropdown-item fromStation" href="#">Delhi</a>
                          <a class="dropdown-item fromStation" href="#">Mumbai</a>
                          <a class="dropdown-item fromStation" href="#">Kerala</a>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="to">To:</label>
                      <div class="dropdown">
                        <button
                          class="btn btn-secondary dropdown-toggle"
                          type="button"
                          id="toDropdown"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          Select Station
                        </button>
                        <div class="dropdown-menu" aria-labelledby="toDropdown">
                          <a class="dropdown-item toStation" href="#">Chennai</a>
                          <a class="dropdown-item toStation" href="#">Bangalore</a>
                          <a class="dropdown-item toStation" href="#">Delhi</a>
                          <a class="dropdown-item toStation" href="#">Mumbai</a>
                          <a class="dropdown-item toStation" href="#">Kerala</a>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="date">Date(DD/MM/YY):</label>
                      <input type="date" class="form-control" id="date" required />
                    </div>
                    <div class="form-group">
                      <label for="time">Time (HH:MM)</label>
                      <input type="time" class="form-control" id="time" name="time" required />
                    </div>
                    <div class="d-flex justify-content-center">
                      <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                        Create Train
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      $(document).ready(function () { //ensures all the html docu are fully loaded
        let selectedFrom = "";    //empty variables;
        let selectedTo = "";     //empty variables;

        $(".fromStation").click(function () {   //. (dot) means class selector
          selectedFrom = $(this).text();    //assigns the selected station to the variable
          $("#fromDropdown").html(      
            selectedFrom + ' <span class="caret"></span>'
          );
        });

        $(".toStation").click(function () {   //same process happens here 
          selectedTo = $(this).text();
          $("#toDropdown").html(selectedTo + ' <span class="caret"></span>');
        });

        $("#createTrainForm").submit(function (event) { //when a submit event occurs
          event.preventDefault();     //it prevents the refreshing/ reloading of the webpage

          const data = {          //used to store all the data that are inputted by user, that contains a list of key value pairs
            trainName: $("#trainName").val(),   //$ - selectors, manipulates the html elements, wherever the id trainName, the input is stored in the variable trainName
            trainNumber: $("#trainId").val(),   //.val - gets the value
            source: selectedFrom,
            destination: selectedTo,
            date: $("#date").val().split("-").reverse().join("-"),  //formate of date is yy-mm-dd, but since our date is dd-mm-yy, we are spliting it then reversing it to get the appropriate date format
            time: $("#time").val(),
          };

          const queryString = $.param(data);    //sending the entire data in the form of url as parameters!!!!!!!!!!!! (when we write on url)

          $.ajax({    //function to send data to the server of api/create-train
            url: "/api/create-train?" + queryString,
            type: "GET",
            success: function (response) {
              alert("Train created successfully");
              window.location.href = "/admin_dashboard_page";
            },
            error: function (error) {
              alert("Failed to create train: " + error.responseText);
            },
          });
        });
      });
    </script>
  </body>
</html>
