<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <scrip src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
    </script>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
    <center>
      <br/>
      <br/>
      <h1>Delete Flight</h1>
    </center>
    <form action="Admin_Dashboard_Page.html">
      <div clas="form-group">
        <label for="trainName">Flight Id:</label>
        <input type="text" class="form-control" id="trainName"/>
      </div>
      <br/>
      <br/>
      <a href="admin_dashboard_page.html">
      <button type="submit" class="btn btn-primary btn-block">
        Delete Flight
      </button>
      </a>
    </form>
    <br/>
  </div>
</div>
</div>
  </body>
</html>
