body{
    align-items: center;
    min-height: 100vh;
    background: url('image1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
h1{
    padding-bottom: 30px;
    font-style: italic;
}