<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User login page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <!-- <center>
      <h1>User Login</h1>
      <br />

      <h3>Remember Me</h3>

      <a href="User_Dashboard_Page.html">Login</a>
      <br />
      <a href="Forget_Password.html">Forget Password</a>
      <br />
      <br />

      <h5>if new user?</h5>
      <br />
      <br />
      <a href="User_Register.html">Register here</a>
    </center> -->

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <center>
            <br />
            <br />
            <h1>User Login</h1>
          </center>
          <form id="loginForm">
            <div class="form-group">
              <label for="user">Username:</label>
              <input type="text" class="form-control" id="usr" />
            </div>
            <div class="form-group">
              <label for="pwd">Password</label>
              <input type="password" class="form-control" id="pwd" />
            </div>
            <div class="form-group text-right">
              <!-- <a href="forgot_user_password_page.html">Forgot Password ?</a> -->
               <a th:href="@{forgot_user_password_page}">Forgot Password ?</a>
            </div>
            <!-- <a href="user_dashboard_page.html" style="color: white; text-decoration: none"></a> -->
            <button type="submit" class="btn btn-primary btn-block">
              <a th:href="@{user_dashboard_page}" style="color: white; text-decoration: none">
                Login
              </a>
            </button>

            <br />

            <div class="form-group">
              <br />
              <center>
                if new user ? <br />
                <!-- <a href="user_register_page.html"> -->
                  <a th:href="@{user_register_page}">
                  <button type="button" class="btn btn-link">
                    Register Here
                  </button>
                </a>
              </center>
            </div>
          </form>
          <br />
          <div id="errorContainer" class="text-center"></div>
          <div id="messageContainer" class="text-center"></div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function () {   //must start with this for JQuery only then it loads
        $("#loginForm").submit(function (e) {   //adds an event list on the DOM called loginForm, so whenever this form is submitted it will perform the respective tasks
          e.preventDefault();       //to prevent the automatic reloading on the form when submit is clicked. So it doesnt allow the page to be reloaded
          const username = $("#usr").val(); 
          const password = $("#pwd").val();

          $.get(    
            `/api/login?username=${username}&password=${password}`,
            function (data, status) {
              if (data.status === 200) {    
                console.log(data);
                $("#messageContainer").html(`
                <div class="alert alert-success">
                  <strong>Success!</strong> Logged in successfully.
                </div>
              `);
                localStorage.setItem("aadhar", data.message);
                window.location.href = `/user_dashboard_page`;
              } else {
                $("#messageContainer").html(`
                <div class="alert alert-danger">
                  <strong>Error!</strong> Invalid username or password.
                </div>
              `);
              }
            }
          ).fail(function () {
            $("#messageContainer").html(`
              <div class="alert alert-danger">
                <strong>Error!</strong> Unable to connect to the server. Please try again later.
              </div>
            `);
          });
        });
      });
    </script>
  </body>
</html>
